<template name="layout">
	<div class="container">
		<ul class="nav nav-pills">
  			<li role="presentation" class="nav-link bg-danger">
  				<a href="{{pathFor 'home'}}">Home</a>
  			</li>
  			<li role="presentation" class="nav-link bg-danger">
  				<a href="/about">About</a>
  			</li>
 			 <li role="presentation" class="nav-link bg-danger">
 			 	<a href="/comments">Comments</a>
 			 </li>
       <li role="presentation" class="nav-link bg-danger">
        <a href="/showRatings">ShowRatings</a>
       </li>
        <li role="presentation" class="nav-link bg-danger">
        <a href="/commentresults">CommentResults</a>
       </li>
       <li role="presentation" class="nav-link bg-danger">
        <a href="/showcase">Showcase</a>
       </li>

       <li role="quiz4" class="nav-link bg-danger">
        <a href="/quiz4">quiz4</a>
       </li>

 			 <li>
 			 	{{> loginButtons}}
 			 </li>
		</ul>
	{{> yield}}

	</div>
</template>