body {
	background: url('http://3.bp.blogspot.com/-OsF4NfbVzIQ/TrPOtDCBgdI/AAAAAAAAAbQ/VxVg6FLZT6c/s1600/Brandeis_U-large-image.jpg');
	background-size: 100% auto;
}
#jumbotron{
	opacity: 0.7;
   /* filter: alpha(opacity=50);*/
}
#js-ingr{

}